<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <meta name="viewport" content="initial-scale=1.0">
    <title>Atlas</title>
    <link rel="stylesheet" href="style/atlas.css">
</head>
<body>
    <div class="navbar">
        <div class="branding">
            <a href="." style="padding: 0">
                <img class="logo" src="globe.svg" alt="globe-vector">
            </a>
            <a href="." style="font-size: xx-large;">Atlas</a>
        </div>
        <div class="search-container">
            <input id="search" class="searchbox" autocomplete="off" placeholder="Search rooms to rent">
            <div id="search-expand">
                <a href="." style="font-size: xx-large;">TODO</a>
                <a href="." style="font-size: xx-large;">TODO</a>
                <a href="." style="font-size: xx-large;">TODO</a>
                <a href="." style="font-size: xx-large;">TODO</a>
                <a href="." style="font-size: xx-large;">TODO</a>
            </div>
        </div>
        </div>
    <div id="navbar-margin"></div>
    <div id="map"></div>
    <div class="chart-container">
        <canvas id="chart"></canvas>
    </div>
    <script>
        /** Declare globals **/
        var map;
        var chart;
    </script>
    <script src="js/init.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"
            async defer></script>
    <script onload="initChart()" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
            async defer></script>
    <script src="app.js" async defer></script>
</body>
</html>
