<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <meta name="viewport" content="initial-scale=1.0">
    <title>Atlas</title>
    <link rel="stylesheet" href="style/atlas.css">
</head>
<body>
    <div class="navbar" style="width:100%;display:flex;align-items:center;padding:0.8em">
        <a href="." style="">
            <img src="globe.svg" alt="globe-vector" style="
                float:left;
                width:auto;
                height:5vh;
                margin-left:2vh;"
            >
            <a href="." style="font-size: xx-large;margin-right:2vh">Atlas</a>
        </a>
        <div style="
            width:100%;
            /*border:3px solid green;*/
            ">
            <input class="searchbox" style="
                float: left;
                background-color: #464646;
                white-space:nowrap;
                text-overflow:clip;
                overflow:hidden;
                display:inline-block;
                /*margin-left:5%;*/
                width:75%;

                /*border:3px solid red;*/
                ">
<!--                <input type="search" placeholder="Search rooms to rent" style="margin:1em; color:#f2f2f2">-->
<!--                    <div role="img" style="width: 2vw; height: 2vw;float:left;align-items:center;padding:0.8em">-->
<!--                        <svg-->
<!--                                width="100%"-->
<!--                                height="100%"-->
<!--                                viewBox="0 0 18 18"-->
<!--                                fit=""-->
<!--                                preserveAspectRatio="xMidYMid meet"-->
<!--                                focusable="false">-->
<!--                            <path d="M11.18 9.747l4.502 4.503-1.414 1.414-4.5-4.5a5 5 0 1 1 1.41-1.418zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" fill-rule="evenodd"></path>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                </input>-->
            </div>
        </div>
    </div>
    <div class="thing" style="
            margin-top: 10vh;
            margin-left:8vh;
            margin-right:8vh;">
        <div class="copy">
            <p style="
            border:3px solid purple;
            ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div id="map" style="height:45%;width:100%"></div>
    <div class="chart-container" style="position: relative;height:45%;width:100%">
        <canvas id="chart" ></canvas>
    </div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.873176, lng: 151.208148},
                zoom: 14,
                gestureHandling: "cooperative",
                streetViewControl: false,
            });
        }
        var chart;
        function initChart() {
            var ctx = document.getElementById('chart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [0, 10, 5, 2, 20, 30, 45]
                    }]
                },
                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"
            async defer></script>
    <script onload="initChart()" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
            async defer></script>
    <script src="app.js" async defer></script>
</body>
</html>
